[submodule "SparkAlgos"]
	path = SparkAlgos
	url = ../SparkAlgos.git
[submodule "SparkCL"]
	path = SparkCL
	url = ../SparkCL.git
[submodule "MathShards"]
	path = MathShards
	url = ../MathShards.git
[submodule "managedCuda"]
	path = managedCuda
	url = git@github.com:kunzmi/managedCuda.git
